<%= form_for(@city) do |f| %>
  <div class="form-group">
      <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "name" %>
  </div>
  <div class="form-group">  
    <%= f.text_field :nickName, class: "form-control focus",  placeholder: "nickname" %>
  </div>
  <div class="form-group">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>