/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 75px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: skyblue;
	padding: 0;
}

.city-banner {
	width: 100%;
	margin: 0 auto;
}
.city-small {
	width: 95%;
	border-radius: 5%; 
}
.banner {
	background-image: url("hong-kong-large.jpg");
	background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 500px; 
}
.call-to-action {
	font-size: 4em;
	color: white;
	text-align: center; 
	margin: 0 auto; 
}
#nav-row {
	margin-left: 20px;
}

#nav-title {
	margin-top: 10px;
	font-weight: bold;
	font-size: 25px;
}

#nav-login {
	margin-top: 15px;
	text-align: right;
}

.col-xs-2 {
	margin-top: 15px;
	margin-left: 18px;
}

#city-name {
	font-size: 50px;
	font-weight: bold;
}