<img src="http://www.jetblue.com/img/vacations/destination/San-Francisco-960-x-420.jpg" id="homepage-image">

<center>
	<div class="row" id="homepage-cities">
		<div class="col-xs-2">
			<img src="http://www.strengthsinternational.com/wp-content/uploads/2014/02/San-Francisco-bridge-150x150.jpg">
			San Francisco
		</div>
		<div class="col-xs-2">
			<img src="http://startupseattle.com/wp-content/uploads/2015/01/sea-skyline-150x150.jpg">
			Seattle
		</div>
		<div class="col-xs-2">
			<img src="https://s-media-cache-ak0.pinimg.com/236x/1b/f4/e0/1bf4e0de30bbff0dea80e061bed8736e.jpg">
			Santa Barbara
		</div>
		<div class="col-xs-2">
			<img src="https://3nr6va3xupycwvzdk3xa8v21-wpengine.netdna-ssl.com/wp-content/uploads/MIAMI-DADE-MORTGAGE-150x150.png">
			Miami
		</div>
		<div class="col-xs-2">
			<img src="http://www.wdwradio.com/wp-content/uploads/2015/07/new-york-city-150x150.jpg">
			New York City
		</div>
	</div>
</center>